.header-kasb header {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 30px;
    background: #FFFFFFFF;
}

.header-kasb .header-link {
    height: 30px;
    color: #051633;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    cursor: pointer;
    max-width: max-content;
}

.header-kasb header>h1 {
    color: #051633;
    font-size: 41px;
    font-weight: 700;
    line-height: 48.02px;
    text-align: center;
    margin-top: 40px;
}

.header-kasb .category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1100px;
    width: 98%;
    height: 900px;
    margin: 30px auto;
    margin-top: 60px;
}

.header-kasb .category-card:hover{
    background: #27C955;
}

.header-kasb .category-card:hover h1{
    color: #fff;
}

.header-kasb .category-card:hover p{
    color: #fff;
}

.header-kasb .category-card {
    width: 100%;
    height: 450px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 1px 1px 6.5px 0px #00000040;
    border-radius: 19px;
    overflow: hidden;
}

.header-kasb .category-card .img {
    width: 100%;
    height: 50%;
    position: relative;
}

.header-kasb .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-kasb .img h1 {
    padding: 10px 20px;
    border-top-right-radius: 15px;
    background: #030522;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 23.38px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header-kasb .text {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding: 20px;
}

.header-kasb .text>h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 32.14px;
    color: #030522;
}

.header-kasb .text>span {
    font-size: 17px;
    font-weight: 600;
    line-height: 24.84px;
    color: #030522;
    margin-top: 15px;
}

.header-kasb .other {
    margin-top: 10%;
    width: 240px;
    height: 20px;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
    color: #0000009E;
}

.header-kasb .other p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

@media (max-width: 768px) {
    .header-kasb .category {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }

    .header-kasb .text>h1 {
        font-size: 20px;
        line-height: 21px;
    }

    .header-kasb .text>p {
        font-size: 15px;
        margin: 10px 0;
        line-height: 22px;
    }

    .header-kasb .other {
        margin: 5% 0;
    }
}

@media (max-width: 576px) {
    .header-kasb .category {
        width: 90%;
        grid-template-columns: repeat(1, 2fr);
    }

    .header-kasb .text>h1 {
        font-size: 25px;
        line-height: 28px;
    }

    .header-kasb .text > p {
        font-size: 18px;
        line-height: 26px;
    }
}

@media (max-width: 450px) {
    .header-kasb .category {
        width: 100%;
        grid-template-columns: repeat(1, 2fr);
    }
}